HOST=
PORT=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTID=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__TENANTID=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__CLIENTSECRET=
CONNECTIONS__SERVICE_CONNECTION__SETTINGS__ANONYMOUS_ALLOWED=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_DEPLOYMENT_NAME=
AZURE_OPENAI_ENDPOINT=
SHAREPOINT_SITE_ID=
SHAREPOINT_LIBRARY_ID=
SHAREPOINT_LIBRARY_NAME=
SHAREPOINT_GRAPH_TENANT_ID=
SHAREPOINT_GRAPH_CLIENT_ID=
SHAREPOINT_GRAPH_CLIENT_SECRET=
SHAREPOINT_GENERATED_BY_LOOKUP_ID=
SHAREPOINT_USER_LOOKUP_IDS=
INVOICE_FILE_PREFIX=
DEFAULT_CURRENCY=
DEFAULT_PURPOSE=
RANDOM_GENERATION_MAX_RETRIES=
RANDOM_MIN_AMOUNT=
RANDOM_MAX_AMOUNT=
SHAREPOINT_SEARCH_MAX_ITEMS=
INVOICE_OUTPUT_DIR=
INVOICE_MAX_BATCH_SIZE=
INVOICE_MAX_LINE_ITEMS=
INVOICE_MAX_AMOUNT=
LOG_LEVEL=
